{% for post in posts %}
    <div class="container-fluid border border-secondary rounded-sm mb-2">
        <div class="row m-2">
            <h4><a href="{% url 'profile' post.user.id %}">{{ post.user.username }}</a></h4>
        </div>
        <div class="row m-2" id="div_edit{{post.id}}">
            {% if post.user.id == request.user.id %}
                <a href="#" class="text-decoration-none" onClick="edit({{post.id}})">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                    </svg>
                    Edit this post
                </a>
            {% endif %}
        </div>
        <div class="row m-2" id="edit{{post.id}}">
            {{ post.post }}
        </div>
        <div class="row m-2" id="buttons{{post.id}}"></div>
        <div class="row m-2 justify">
            <div class="col-2 justify-content-start">
                {% if request.user.is_authenticated and request.user.id != post.user.id %}
                    {% if request.user not in post.likes.all %}
                        <button id="{{ post.id }}" type="button" class="btn btn-outline-danger" onClick="like({{post.id}})">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                            </svg>
                        </button>
                        {% else %}
                        <button id="{{ post.id }}" type="button" class="btn btn-danger" onClick="like({{post.id}})">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                            </svg>
                        </button>
                    {% endif %}
                {% else %}
                <button type="button" class="btn btn-outline-danger" disabled>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                    </svg>
                </button>
                {% endif %}
                <span id="like_count{{ post.id }}">{{ post.like_count }}</span> likes
            </div>
            <div class="col" style="text-align: right">
                Created on: {{ post.created_on }}
                {% if created_on < modified_on %}
                    ; last modifed on: {{ post.modified_on }}
                {% endif %}
            </div>
        </div>
        <div class="row m-2">
            Comments
        </div>
    </div>
{% endfor %}

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if posts.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a>
            </li>
        {% endif %}
        {% if posts.has_previous or posts.has_next %}
            {% for page in page_range %}
                {% if forloop.counter|slugify == current_page|slugify %}
                    <li class="page-item"><a class="page-link" href="#">{{ forloop.counter }}<span class="sr-only">(current)</span></a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}"> {{ forloop.counter }}</a></li>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if posts.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ posts.next_page_number }}">Next</a>
            </li>
        {% endif %}
    </ul>
</nav>